--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.100.0
uvicorn[standard]==0.22.0
sentence-transformers==2.2.2
torch==2.2.0+cpu
pydantic-settings>=0.10.2
numpy>=1.26.0,<1.27
beautifulsoup4>=4.12.3
nltk==3.8.1
